.markdown-body pre,
.markdown-body .highlight {
  background: #fff;
  margin: 20px 0;
  overflow: auto;
  font-size: 13px;
  color: #4d4d4c;
}
.markdown-body .highlight .gutter pre,
.markdown-body .gist .gist-file .gist-data .line-numbers {
  color: #666;
}
.markdown-body pre,
.markdown-body code {
  font-family: Monaco, Menlo, Consolas, Courier New, monospace;
}
.markdown-body code {
  background: #fffad9;
  color: #e2678f;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.markdown-body pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.markdown-body .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.markdown-body .highlight table {
  margin: 0;
  width: auto;
}
.markdown-body .highlight td {
  border: none;
  padding: 0;
}
.markdown-body .highlight figcaption {
  font-size: 0.85em;
  color: #8e908c;
  line-height: 1em;
  margin-bottom: 1em;
}
.markdown-body .highlight figcaption a {
  float: right;
}
.markdown-body .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.markdown-body .highlight .line {
  height: 20px;
}
.markdown-body .gist {
  margin: 20px 0;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px 0;
  background: #fff;
  padding: 15px 40px 15px 15px;
}
.markdown-body .gist .gist-file {
  border: none;
  font-family: "PT Mono", Consolas, Monaco, Menlo, monospace;
  margin: 0;
}
.markdown-body .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.markdown-body .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.markdown-body .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.markdown-body .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.markdown-body .gist .gist-file .gist-meta {
  background: #fff;
  color: #8e908c;
  font: 13px Lato, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 40px;
}
.markdown-body .gist .gist-file .gist-meta a {
  color: color-link;
  font-weight: normal;
}
.markdown-body .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #718c00;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}
pre .title,
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
