---
layout: layout
---

<section class="content">
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}&nbsp;
    Categories:
    {% for foo in page.categories %}
      <a href="/category/{{ foo }}">{{ foo }}</a>
    {% endfor%}
    &nbsp;
    Tags:
    {% for bar in page.tags %}
      <a href="/tag/{{ bar }}">{{ bar }}</a>
    {% endfor%}
  </section>

  {{ content }}
  <div class="pull"></div>
  {% include jiathis.html %}
  <hr>
  {% include moot.html %}
</section>
